<% @users.each do |user| %>
 <p><%= user.name %></p>
 <p><%= user.email %></p>
 <p><%= user.age %></p>
 <%= button_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

<%= link_to "Add", new_user_url(@user) %>