<h1>Create your user</h1>

<div class="row">
  <%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
    <%= f.label :email %>
    <%= f.email_field :email,placeholder: 'email', class: 'form-control' %>
    <%= f.label :age %>
    <%= f.range_field :age, in: 1..120, placeholder: '0-100', class: 'form-control' %>
    <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
</div>