<h1>Create your post</h1>

<div class="row">
  <%= form_for(@post) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'your name', class: 'form-control' %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'your title', class: 'form-control' %>
    <%= f.label :year %>
    <%= f.range_field :year, in: 2000..2019, placeholder: '2000-2019', class: 'form-control' %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>