<% @posts.each do |post| %>
 <p><%= post.name %></p>
 <p><%= post.title %></p>
 <p><%= post.year %></p>

 <%= button_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>

 <% end %>

<%= link_to 'Add', new_post_url(@post) %>
